version: 2
registries: {}
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"
    commit-message:
      prefix: "chore"
      include: "scope"
    insecure-external-code-execution: allow
    reviewers:
      - MaximillianGroup

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"
    commit-message:
      prefix: "chore"
      include: "scope"
    insecure-external-code-execution: allow
