# Hide only repository/IDE internals from export
/.git*            export-ignore
/.github          export-ignore
/.vscode          export-ignore
/.idea            export-ignore
.DS_Store         export-ignore
