<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap-unit.php" colors="true" verbose="true" stopOnFailure="false" backupGlobals="false" failOnWarning="true" failOnRisky="true">
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
    <ini name="memory_limit" value="-1"/>
    <ini name="max_execution_time" value="0"/>
  </php>

  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>