<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
    backupGlobals="false"
    failOnWarning="true"
    failOnRisky="true"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
    <ini name="memory_limit" value="-1"/>
    <ini name="max_execution_time" value="0"/>
    <server name="WP_TESTS_DIR" value="wp-tests"/>
    <server name="WP_PHP_BINARY" value="php"/>
    <server name="WP_DEBUG" value="1"/>
  </php>

  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests/unit</directory>
    </testsuite>

    <testsuite name="Integration Tests">
      <directory>./tests/integration</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="build/coverage.xml"/>
    </report>
  </coverage>
</phpunit>
