<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
         
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
    <ini name="display_startup_errors" value="1"/>
    <ini name="memory_limit" value="-1"/>
    <ini name="max_execution_time" value="0"/>
  </php>

  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./unit-tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
<!--
  This is a PHPUnit configuration file. It specifies the settings for running unit tests in a PHP project.
  The file includes the following key elements:
  
  - Bootstrap: Specifies the autoload file to load dependencies.
  - Colors: Enables colored output in the console.
  - Verbose: Enables verbose output for more detailed test results.
  - Stop on Failure: Stops the test suite execution on the first failure.
  - PHP Settings: Configures PHP settings such as error reporting, display errors, memory limit, and max execution time.
  - Test Suites: Defines the test suites and their respective directories.