# Auto Assign Workflow
# Purpose: Automatically route new issues and pull requests to the Quality and Support team for triage.
name: Auto Assign

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - name: Auto-assign to Quality and Support team
      # uses: pozil/auto-assign-issue@v1
        uses: pozil/auto-assign-issue@c5bca5027e680b9e8411b826d16947afd8c76b32

        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: Starisian-Technologies/quality-and-support-services
          numOfAssignee: 1
